.header {
  height: 56px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  [data-mantine-color-scheme] &[data-hidden] {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .inner {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  .links {
    margin-top: 10px;
    width: 100%;
  }
}
