@import '../Chat.scss';

.backend-view {
  display: flex;
  height: 100%;
  width: 100%;

  > div {
    flex: 1;
    overflow: hidden;
  }

  .chat-interface {
    border-right: 1px solid var(--mantine-color-gray-3);
  }
}
