.founders-carousel {
    padding-top: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-xl);

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
    }
  }

  .founder-avatar {
    margin-bottom: var(--mantine-spacing-md);
    border: 1px solid var(--mantine-color-gray-3);
    transition: border-color 0.3s ease;

    &:hover {
      border-color: var(--mantine-color-blue-7);
    }
  }

  .founder-info {
    text-align: center;

    h3 {
      margin: 0;
      font-size: 1.2rem;
      color: var(--mantine-color-dark-6);
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      color: var(--mantine-color-gray-6);
    }
  }
}
