.chat-container {
  display: flex;
  height: calc(100vh - 130px);
  width: 100%;
}

.chat-main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// 共享样式
.view-container {
  display: flex;
  height: 100%;
  width: 100%;
}
